
<div style="width: 500px; margin-left: auto;
margin-right: auto;">
<h1 >Available Streams</h1>
<%= link_to 'Start a New Stream', new_stream_path %><br/><br/>
<table style="margin-left: auto;
margin-right: auto;">
	<table>
  <tr>
	<td valign="bottom">Producer</td>
	<td valign="bottom">Stream</td>
<td valign="bottom">Paid</td>

<td valign="bottom">Broadcast</td> 

 <td valign="bottom"></td>
<td valign="bottom"></td>

</tr>

<% @streams.each do |stream| %>
  <tr>
		<% username = User.find(stream.user_id)%>
		
		<td valign="bottom">
		<img src="http://img.tweetimag.es/i/<%=username.login %>_n"/>
	
		</td>
		<% if stream.paid == "yes"%>
		<td valign="bottom"><%= link_to stream.name, :controller => "streams", :action => "paid", :id => stream.id %></td>
		<% else %>
		<td valign="bottom"><%= link_to stream.name, :controller => "streams", :action => "show", :id => stream.id %></td>
		<% end %>

<td valign="bottom"><%=stream.paid%></td>
		

	

	
	<td valign="bottom">
		<% unless current_user==nil%>
		<% if current_user.id == stream.user_id%>
		<% end %>
		<a href="/streams/broadcast/<%=stream.id%>">go live</a>
		<% end %>
		</td>   
		
    <td valign="bottom">
	<% unless current_user==nil%>
<% if current_user.id == stream.user_id%>
<% end %>
<%= link_to 'change', edit_stream_path(stream) %></td>
<% end %>
    <td valign="bottom">
	<% unless current_user==nil%>
<% if current_user.id == stream.user_id%>
<% end %>
<%= link_to 'delete', stream, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</td>

  </tr>
<% end %>
</table>

<br />
</div>
