<h1>New stream</h1>

<% form_for(@stream) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :name %><br />
    <%= f.text_area(:name , :cols => 75, :rows => 2) %><br/>
	<%= f.label :description %><br />
    <%= f.text_area(:description , :cols => 75, :rows => 2) %><br/>
<%= f.label :paid %><br />
<%=check_box("stream", "paid", {}, "no", "yes") %>
<%= f.hidden_field :user_id, :value => current_user.id  %><br/>
    <%= f.submit 'Create' %>


  </p>
<% end %>

<%= link_to 'Back', streams_path %>